# psycopg2_ex1

## 概要
* psycopg2 を使って PostgreSQL にアクセスする。

## 参考
* [psycopg2 でよくやる操作まとめ](https://qiita.com/hoto17296/items/0ca1569d6fa54c7c4732)

In [2]:
import psycopg2
db_host = "postgres"
db_port = "5432"
db_name = "postgres"
db_username = "postgres"
db_password = "postgres"
dsn = f"postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}"

In [4]:
# テーブル作成
with psycopg2.connect(dsn) as conn:
    with conn.cursor() as cur:
        cur.execute("""
                CREATE TABLE users (
                    id SERIAL PRIMARY KEY,
                    name VARCHAR(255) NOT NULL
                );
            """)

In [16]:
# インサート文
with psycopg2.connect(dsn) as conn:
    with conn.cursor() as cur:
        cur.execute("""
                INSERT INTO users (
                    name
                ) VALUES (
                    '東京 太郎'
                );
            """)

In [17]:
# クエリパラメータ
with psycopg2.connect(dsn) as conn:
    with conn.cursor() as cur:
        name = "東京 花子"
        cur.execute("""
                INSERT INTO users (
                    name
                ) VALUES (
                    %s
                );
            """, [name])

In [18]:
# 取得した結果を表示
with psycopg2.connect(dsn) as conn:
    with conn.cursor() as cur:
        cur.execute('SELECT * FROM users')
        rows = cur.fetchall()
print(rows)

[(3, '東京 太郎'), (4, '東京 花子')]

In [14]:
# 全件削除
with psycopg2.connect(dsn) as conn:
    with conn.cursor() as cur:
        cur.execute('DELETE FROM users')